h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
}
.active {
  font-style: italic;
  text-decoration: line-through;
  color: #f50057;
}
.active span {
  color: #f50057;
}
.newTodos {
  padding-left: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.done {
  margin-left: 30px;
  font-size: 20px;
}